# Dossiers à ignorer
node_modules/
dist/
coverage/

# Fichiers à ignorer
.env
.env.*
*.log
*.pid

# Fichiers générés automatiquement
package-lock.json
yarn.lock

# Dépendances spécifiques à un système d'exploitation
.DS_Store
Thumbs.db
sessions.db
