<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script defer src="/javascripts/index.js"></script>
</head>
<body>
    <img src="/public/logo.png" alt="Logo TreeTalk" id="logo">
    <nav id="NavBar">
        <a href="/">Home</a>
        <a href="Profil">Profil</a>
    </nav>
    <h1>
        <%= title %>
    </h1>
    <div>
        <h1>Profil</h1>
    </div>
</body>

</html>