* {
  color: white;
}

html {
  background-color: rgb(45, 45, 45);
}

body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  color: black;
}

.green {
  background-color: rgb(4, 155, 7);
}

button {
  width: 45px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 14.5px;
}

<<<<<<< HEAD=======#messages {
  margin-top: 20px;
  overflow: scroll;
  max-height: 50vh;
  overflow-x: hidden;
  border: 2px solid white;
  border-radius: 10px;
  padding-bottom: 15px;
}

>>>>>>>1d5fffedaa2433119c12a2e9a9dcb4cfbb02f4a4 #message {
  width: 50%;
}

#login {
  width: 10vw;
}

#boxsendmessage {
  width: 100%;
  display: inline;
}

input {
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}

.sent-message {
  background-color: rgb(4, 155, 7);
  color: white;
  padding: 10px;
  border-radius: 15px 0 15px 15px;
  text-align: right;
  margin: 10px 0;
}

.username {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  display: flex;

}